#header-container
{
    margin: 0 auto;
    text-align: center;
    top: 0;
    z-index: 1;
    position: sticky;
    border-bottom: grey;
}

tr
{

}

.checkbox
{
    height: inherit;
    display: inline-flex;
}

.checkbox-item
{
    align-self: center;
    display: inline-flex;
    height: 8em;
    width: 3em;
}

.timer-inputs
{
    width: 3rem;
}

.timer-input-group
{
    display: inline-flex;
    align-items: center;
    border: 1px solid rgb(73, 80, 87);
    border-radius: 5px;
}

.center
{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.type
{
    flex: 1;
}

